# This file is part of Forecasts for SailfishOS.
# SPDX-License-Identifier: GPL-3.0-or-later
# SPDX-FileCopyrightText: 2018-2022  Mirian Margiani

*~
*.~*
*.bak
dist*
tmp*
icon-src/raw
TODO

libs/opal-translations
libs/opal-docs

build*
*.pro.user
reverse
rpm/*.spec
rpm/*.spec.*
raw/strings/*.clean
raw/strings/strings
liverunner*

__pycache__
